@model IEnumerable<Fat_Pig_Invest_Stock_Wallet.Models.Nota>

@{
    ViewData["Title"] = "Notas de Negociação";
}

<h1>Notas de Negociação</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar Nota</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataPregao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corretora)
            </th>   
            <th>
                Total das operações
            </th>  
            <th>
                Despesas
            </th> 
            <th>
                Líquido da nota
            </th> 
            <th>
                D/C
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPregao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corretora.Nome)
            </td>    
            <td>
                Total das operações
            </td>  
            <td>
                Despesas
            </td> 
            <td>
                Líquido da nota
            </td> 
            <td>
                D/C
            </td> 
            <td class="td-botoes-table">
                <a class="badge bg-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="badge bg-success" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="badge bg-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
