@model IEnumerable<Fat_Pig_Invest_Stock_Wallet.Models.Ordem>

@{
}

<!-- Orders table - Information about the orders -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.TipoOrdem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota.Id)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.TipoOrdem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acao.Ticker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoUnitario)
            </td>
            <td>
                
            </td>
            <td class="td-botoes-table">                
                <a class="badge bg-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
